.CartCSS {
  align-items: center;
  text-align: center;
  margin-left: 40px;
  
}

.Vaciar Button {
  position: absolute;
  left: 36%;
  width: 400px;
  bottom: -30px;
}

.SeccionCarrito h2 {
  color: rgb(0, 0, 0);
  display: flex;
  position: absolute;
  left: 40%;
  top: 6%;
  

}

.cartcart {
  background-color: rgb(255, 255, 255);
  margin: 15px;
  
}

.Error p{
    color: black;
}

.Error{
  
    width: 50rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-bottom: 293px;
    margin-top: 150px;
}

.boton1{
  text-align: center;
  margin: 20px;
}

.boton2{
  text-align: center;
}



