.CartCSS {
  align-items: center;
  text-align: center;
  margin-left: 40px;
}

.Vaciar Button {
  position: absolute;
  left: 36%;
  width: 400px;
  bottom: 25%;
}

.SeccionCarrito h2 {
  color: rgb(0, 0, 0);
  display: flex;
  position: absolute;
  left: 40%;
  top: 6%;
  

}

.cartcart {
  background-color: rgb(255, 255, 255);
}

.Error p{
    color: black;
}

.Error{
    
    width: 50rem;
    margin:auto;
    margin-top: 5rem;
    text-align: center;
}


