.item>img{
    width: 300px;
    margin: auto;
    display: block;
    margin-top: 60px;
   

}

.item>p{
    color: black;
    margin: 30px;
}

.precio{
    text-align: center;
}

.contador{
    text-align: center;
}

.item>h2{
    text-align: center;
    margin-top: 20px;
}